In [1]:
import pandas as pd
df= pd.read_csv('customer_shopping_behavior.csv')
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### KPI's

In [ ]:
# Total Revenue
total_revenue = df['Purchase Amount (USD)'].sum()
total_revenue

np.int64(233081)

In [ ]:
# Average Order Value(AOV)
aov = df['Purchase Amount (USD)'].mean()
aov

np.float64(59.76435897435898)

In [7]:
# Total Customer
total_customer = df['Customer ID'].nunique()
total_customer

3900

In [10]:
# Revenue By Gender
df.groupby('Gender')['Purchase Amount (USD)'].sum()

Gender
Female     75191
Male      157890
Name: Purchase Amount (USD), dtype: int64

In [13]:
# Discount Dependency Rate
df['Discount Applied'].value_counts(normalize=True)*100

Discount Applied
No     57.0
Yes    43.0
Name: proportion, dtype: float64

In [12]:
# Revenue by Subscription
df.groupby('Subscription Status')['Purchase Amount (USD)'].sum()

Subscription Status
No     170436
Yes     62645
Name: Purchase Amount (USD), dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [ ]:
df.describe()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [12]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [14]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [17]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [18]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [19]:
#Create a new column
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [20]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [27]:
# Purchase Frequency Days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [29]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(20)

    purchase_frequency_days frequency_of_purchases
0                        14            Fortnightly
1                        14            Fortnightly
2                         7                 Weekly
3                         7                 Weekly
4                       365               Annually
5                         7                 Weekly
6                        90              Quarterly
7                         7                 Weekly
8                       365               Annually
9                        90              Quarterly
10                       14              Bi-Weekly
11                       14            Fortnightly
12                       14            Fortnightly
13                        7                 Weekly
14                        7                 Weekly
15                       30                Monthly
16                       14              Bi-Weekly
17                       90              Quarterly
18                        7                 Weekly
19                       14              Bi-Weekly

In [31]:
df[['discount_applied', 'promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [ ]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [33]:
df=df.drop('promo_code_used', axis=1)

In [34]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [35]:
pip install mysql-connector-python sqlalchemy pandas

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: pandas in c:\users\mohit bhat\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mohit bhat\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mohit bhat\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohit bhat\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mohit bhat\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohit bhat\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mohit bhat\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 27.0 MB/s eta 0:00:01
   - -------------------------------------- 0.8/16.5 MB 1.5 MB/s eta 0:00:11
   -- ------------------------------------- 1.0/16.5 MB 1.4 MB/s eta 0:00:12
   --- ------------------------------------ 1.3/16.5 MB 1.7 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/16.5 MB 1.7 MB/s eta 0:00:10
   ----- ---------------------------------- 2.1/16.5 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.1/16.5 MB 1.5 MB/s eta 0:00:10
   ------ --------------------------------- 2.6/16.5 MB 1.4 MB/s eta 0:00:10
   ------ --------------------------------- 2.6/16.5 MB 1.4 MB/s eta 0:00:10
   ------- -------------------------------- 3.1/16.5 MB 1.4 MB/s eta 0:00:10
   ------- -------------------------------- 3.1/16.5 MB 1.4 MB/s eta 0:00:10
   -------- ------------------------------- 3.4/16.5 MB 1.3 MB/s eta 0:00:11
   -------- ------------------------------- 3.7/16.5 MB 1.3 MB/s eta 0:00:10
   --------- ------------------------------ 3.9/16.5 MB 1.2 MB/s eta 0:00:11
   ---------- ----------------------------- 4.2/16.5 MB 1.3 MB/s eta 0:00:10
   ---------- ----------------------------- 4.5/16.5 MB 1.3 MB/s eta 0:00:10
   ----------- ---------------------------- 4.7/16.5 MB 1.3 MB/s eta 0:00:09
   ------------ --------------------------- 5.0/16.5 MB 1.3 MB/s eta 0:00:09
   ------------ --------------------------- 5.2/16.5 MB 1.3 MB/s eta 0:00:09
   ------------- -------------------------- 5.5/16.5 MB 1.3 MB/s eta 0:00:09
   ------------- -------------------------- 5.8/16.5 MB 1.3 MB/s eta 0:00:09
   -------------- ------------------------- 6.0/16.5 MB 1.3 MB/s eta 0:00:09
   --------------- ------------------------ 6.3/16.5 MB 1.3 MB/s eta 0:00:08
   --------------- ------------------------ 6.6/16.5 MB 1.3 MB/s eta 0:00:08
   ---------------- ----------------------- 6.8/16.5 MB 1.3 MB/s eta 0:00:08
   ---------------- ----------------------- 6.8/16.5 MB 1.3 MB/s eta 0:00:08
   ----------------- ---------------------- 7.3/16.5 MB 1.3 MB/s eta 0:00:08
   ----------------- ---------------------- 7.3/16.5 MB 1.3 MB/s eta 0:00:08
   ------------------- -------------------- 7.9/16.5 MB 1.3 MB/s eta 0:00:07
   ------------------- -------------------- 8.1/16.5 MB 1.3 MB/s eta 0:00:07
   -------------------- ------------------- 8.4/16.5 MB 1.3 MB/s eta 0:00:07
   -------------------- ------------------- 8.4/16.5 MB 1.3 MB/s eta 0:00:07
   --------------------- ------------------ 8.9/16.5 MB 1.3 MB/s eta 0:00:06
   --------------------- ------------------ 8.9/16.5 MB 1.3 MB/s eta 0:00:06
   ---------------------- ----------------- 9.4/16.5 MB 1.3 MB/s eta 0:00:06
   ---------------------- ----------------- 9.4/16.5 MB 1.3 MB/s eta 0:00:06
   ------------------------ --------------- 10.0/16.5 MB 1.3 MB/s eta 0:00:06
   ------------------------ --------------- 10.0/16.5 MB 1.3 MB/s eta 0:00:06
   ------------------------ --------------- 10.2/16.5 MB 1.2 MB/s eta 0:00:06
   -------------------------- ------------- 10.7/16.5 MB 1.3 MB/s eta 0:00:05
   -------------------------- ------------- 11.0/16.5 MB 1.3 MB/s eta 0:00:05
   --------------------------- ------------ 11.3/16.5 MB 1.3 MB/s eta 0:00:05
   --------------------------- ------------ 11.5/16.5 MB 1.3 MB/s eta 0:00:04
   ---------------------------- ----------- 11.8/16.5 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 12.1/16.5 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 12.3/16.5 MB 1.3 MB/s eta 0:00:04
   ------------------------------ --------- 12.6/16.5 MB 1.3 MB/s eta 0:00:04
   ------------------------------- -------- 12.8/16.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 13.4/16.5 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.6/16.5 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.6/16.5 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.9/16.5 MB 1.2 MB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.5 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.5 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.5 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 1.2 MB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 1.2 MB/s  0:00:13
Downloading sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 813.1 kB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.3 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.2 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.2 MB/s  0:00:01
Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl (301 kB)
Installing collected packages: mysql-connector-python, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 mysql-connector-python-9.5.0 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
from sqlalchemy import create_engine
# Mysql connection
username = "root"
password = "Root"
host = "localhost"
port = "3306"
database = "mydatabase"
engine = create_engine(
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
)

# Write DataFrame to MySQL
table_name="mytable"
df.to_sql(name=table_name, con=engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql("SELECT * FROM mytable LIMIT 5", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365